#main_news{
	flex: 3 1 250px;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 10px;
	margin-top:5%;
}

#main_news div{
	flex: 1 1 250px;
	display: inline-block;
	display: flex;
    flex-flow: column;
	padding: 10px;
	margin: 20px 5px 5px 5px;
	box-sizing: border-box;
	background-color: #9FB6CD;
	border: 1px solid #E88848;
	border-radius: 5px;
}

#main_news h3{
	font-family: Arial;
	font-style: uppercase;
	font-size: 2em;
	color: #30829B;
	margin-left: 10px;
	border-bottom: 2px solid #E88848;
}

#most_popular{
	flex: 1 1 250px;
    padding: 10px;
	border-left: solid 1px black;
	border: 1px solid #E88848;
	border-radius: 6px;
	box-sizing: border-box;
	/*background-color: #FFF0F5;*/
	margin-top:5%;
	margin-bottom: 5%;
}

#most_popular div{
	display: block;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 3px solid #E88848;
}

#most_popular h3{
	font-family: Arial;
	font-style: uppercase;
	font-size: 2em;
	color: #30829B;
	margin-left: 10px;
	border-bottom: 2px solid #E88848;
}

#most_popular div:last-child{
	border-style: none;
}

.more{
	padding: 10px;
    margin-top: auto;
}
