/*Header*/

header{
	background-color: #BEBEBE;
	padding-bottom: 5px;
}

#logo h1{
	font-size: 3em;
	color: #30829B;
	font-family: Arial;
	font-style: uppercase;
	padding-left: 20px;
}

header nav ul{
	margin: 0;
	padding: 0;
}

header nav ul li{
	float: right;
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
	display: block;
}

.button_header{
	display:inline-block;
	text-decoration: none;
	font-size: .8em;	
	color: white;
	font-weight: normal;
	padding: 10px 20px;
	background: #FFA500;
	border-radius: 5px;
	transition: all 0.5s;
	margin-bottom: 5px;
}

.button_header:hover{
	color: #ffffff;
	transform: scale(1.2);
}