/*Main content*/

#full_news{
	flex: 3 1 250px;
	display: flex;
	flex-flow: column nowrap;
}

.full_popular{
	flex: 1 1 250px;
	display: flex;
	flex-flow: column nowrap;
	margin-left: 10px;
}

#main_news{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 10px;
	box-sizing: border-box;
}

.main_news_item{
	flex: 1 1 250px; 
	display: flex;
    flex-flow: column nowrap;
	padding: 10px;
	margin: 20px 5px 5px 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 6px -2px #000000;
	background-color: #FFFAFA;
	border-radius: 5px;
}


.main_news_item img{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

.main_news_date_and_watch{
	flex: 1 1 25px;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-flow: row nowrap;
}

.date_of_publication{
	flex: 2 1 70%;
}

.date_of_publication p {
	font-size: 0.75em;
	padding: 7px 7px 7px 0px;
	
}

.number_of_views{
	flex: 1 1 30%;
	display: flex;
	flex-flow: row nowrap;
}

.number_of_views p{
	flex: 2 1 70%;
	padding: 7px;
	font-size: 0.75em;
	margin-left: 25px;
}
.number_of_views img{
	flex: 1 1 30%;
	width: 25%;
}

.action_news_and_popular{
	display: flex;
	flex-flow: row nowrap;
}

.more{
    flex: 2 1 60%;
    padding: 10px;
    margin-top: auto;
}

.rate_of_quiz_or_test{
    flex:1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5px;
}

.plus_news_and_popular, .number_news_and_popular{
    flex: 1 1 auto;
    padding: 10px;
}

.plus_news_and_popular{
    padding-right: 0px;
}

.plus_news_and_popular{
	transition: all .5s;
	margin-top: 20px;
}


.plus_news_and_popular:hover{
	cursor: pointer;
	transform: scale(1.1);
	fill: #FF0000;
}

.plus_news_and_popular:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.number_news_and_popular{
	margin-top: 20px;
	font-size: 1.6em;
}

#full_news h3{
	font-family: Arial;
	font-style: uppercase;
	font-size: 2em;
	color: #30829B;
	margin-top: 10px;
	margin-left: 10px;
	border-bottom: 3px solid #FFA500;
}

.most_popular{
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    padding: 10px;
	border-left: 3px solid #FFA500; 
	box-sizing: border-box;
}

.main_popular_item{
	flex: 1 1 auto;
	display: flex;
    flex-flow: column nowrap;
	padding: 10px;
	margin: 20px 5px 5px 5px;
	background-color: #FFFAFA;
	box-shadow: 0px 0px 6px -2px #000000;
	border-radius: 5px;
	box-sizing: border-box;
}

.main_popular_item img{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

.full_popular h3{
	font-family: Arial;
	font-style: uppercase;
	font-size: 2em;
	color: #30829B;
	margin-top: 10px;
	margin-left: 15px;
	border-bottom: 3px solid #FFA500;
}